body{
    background-image: url(../images/bodybg.jpg);
    color: #bebebe;
    font-family: '方正稚艺简体';
    border-style: none;
    list-style-type:none;
    background-size: cover;
    background-repeat: repeat-y;
}
*{
    margin:0 auto;
    padding: 0;
    border: 0px;

}
a{
    text-decoration: none;
    color: #00cd66;
}
a:hover{
    text-decoration: underline;
}
#header{
    background-image: url(../images/banner3.jpg);
    height: 205px;
    background-size: cover;
    width: 100%;
}
#banner{
    float: left;
    margin-left: 25px;
    margin-top: 38px;
    width: 1000px;
    height: 130px;      
}
#nav{   
    float:left;     
    height: 40px;
    background-image: url(../images/nav.jpg);
    width: 100%;
    background-repeat: repeat-x;
    height: 40px;
    padding: 0;
    margin-top: auto 0;
}
.nav_body{
    width: 1000px;
    font-weight: bold;
    color: #233333;
    line-height: 40px;
            
}
.nav_content{
    width: 800px;
    position: center;
    float: left;
}
a.two:link{
    color: #fff;
    font-family: '方正特粗光辉简体';
}
a.two:hover{
    text-decoration: none;
    color: #836fff;
}
.nav_serach{
    float: right;
}
#footer{
    height: 105px;
    clear: both;
    background-image: url(../images/foot.gif);
    color: #fff;
    text-align: center;
    position: relative;
    top: 200px;
}
a.yj:link{
    color: #fff;

}
a.yj:hover{
    text-decoration: none;
    color: #fff;
}
a.yj{
    text-align: center;
    color: #fff;
}
a.lj{
    color: #00cd66;
    text-align: center;
}
#content{
    text-align: center;
    width: 1000px;
}
#content_left{
    text-align: center;
    color: #00cd66
    width: 200px;
    float: left;
    margin-top: 20px;
}
#content_right{
    width: 780px;
    margin-top: 20px;
    float: left;
}
#pxdt{
    background-image: url(../images/bg.png);
    width: 200px;
    border-bottom: 20px;
    border:1px solid #000;
    margin-top: 20px;
}
.pxdtt{
    text-align: center;
}
.pxlb{
    line-height: 30px;
    text-align: center;
}
#zjgx{
    background-image: url(../images/bg.png);
    width: 200px;
    margin-top: 20px;
    border:1px solid #000;
}
#zjgxt{
    text-align: center; 
}
.zjlb{
    text-align: center;
    line-height: 30px;
}
.zslb{
    line-height: 30px;
    padding-left: 30px;
    float: left;
}
a.zslb{
    line-height: 30px;
    color: #836fff;
}
#bmdh{
    height: 64px;
    width: 200px;
    margin-top: 20px;
}
#zsqs{
    
    
    margin-top:35px;
    font-size: 25px;
    padding-left: 50px;
    padding-top: 5px;
    color: #00cd66;
  
}
