*{
	margin:0px;
	padding:0px;
}
.menu{
	background:url(../image/bg.gif);
	width:2000px;
	height:100px;
}
.shouye{
	color:#b9f605;
}
ul{
	list-style-type:none;
}
li{
	float:left;
	padding:30px 25px;
}
a{
	text-decoration:none;
	color:white;
}
.special{
	color:orange;
}
